<h2><u>Predictive Analystics</u></h2>

# Module 2 â€“ Probability
<h2> EnCare Bank Demo on Marginal, Joint and Conditional Probability </h2>

**Import Libraries**

In [1]:
import pandas as pd
import numpy as np

**Load Dataset**

In [ ]:
data = pd.read_csv('term_deposit.csv')
print(data.shape)
data.head()

(41188, 10)

,gender,age,job,marital,education,default,housing,loan,contact,term_deposit
0,female,56,housemaid,married,basic.4y,no,no,no,telephone,no
1,male,57,services,married,high.school,yes,no,no,telephone,no
2,female,37,services,married,high.school,no,yes,no,telephone,no
3,female,40,admin.,married,basic.6y,no,no,no,telephone,no
4,female,56,services,married,high.school,no,no,yes,telephone,no

In [ ]:
data.dtypes

gender          object
age              int64
job             object
marital         object
education       object
default         object
housing         object
loan            object
contact         object
term_deposit    object
dtype: object

In [ ]:
data.describe()

               age
count  41188.00000
mean      40.02406
std       10.42125
min       17.00000
25%       32.00000
50%       38.00000
75%       47.00000
max       98.00000

In [ ]:
data.describe(include='O')

,gender,job,marital,education,default,housing,loan,contact,term_deposit
count,41188,41188,41188,41188,41188,41188,41188,41188,41188
unique,2,12,4,8,2,2,2,2,2
top,female,admin.,married,university.degree,no,yes,no,cellular,no
freq,20798,10422,24928,12168,32588,22566,33950,26144,36548

In [ ]:
data.job.value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

## Part 1

### Marginal Probability

#### Q1. Find the probability that the customer will take the term deposit

In [ ]:
data.term_deposit.unique()

array(['no', 'yes'], dtype=object)

In [ ]:
S = data.shape[0]
print('Total number of customers: ', S)

Total number of customers:  41188

In [ ]:
E = data[data.term_deposit == 'yes'].shape[0]
print('total number of customers who have taken term deposits', E)

total number of customers who have taken term deposits 4640

In [ ]:
p = round(E/S, 3)
print('Probability of a customer taking term_deposit : ', p)

Probability of a customer taking term_deposit :  0.113

#### Q2. Find the probability that a customer has at least 9 year of basic education.

In [ ]:
data.head()

,gender,age,job,marital,education,default,housing,loan,contact,term_deposit
0,female,56,housemaid,married,basic.4y,no,no,no,telephone,no
1,male,57,services,married,high.school,yes,no,no,telephone,no
2,female,37,services,married,high.school,no,yes,no,telephone,no
3,female,40,admin.,married,basic.6y,no,no,no,telephone,no
4,female,56,services,married,high.school,no,no,yes,telephone,no

In [ ]:
data.education.unique()

array(['basic.4y', 'high.school', 'basic.6y', 'basic.9y',
       'professional.course', 'unknown', 'university.degree',
       'illiterate'], dtype=object)

In [ ]:
S = data.shape[0]
print('Total number of customers: ', S)

Total number of customers:  41188

In [ ]:
data.education.value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [ ]:
E = 12168 + 9515 + 6045 + 5243
print('Total no. of customers who have at least 9 year education:', E)

Total no. of customers who have at least 9 year education: 32971

In [ ]:
p = round(E/S, 3)
print('Probability of customer having at least 9 year education:', p )

Probability of customer having at least 9 year education: 0.801

#### Q3. Find the probability that a customer is technician.

In [ ]:
data.job.unique()

array(['housemaid', 'services', 'admin.', 'blue-collar', 'technician',
       'retired', 'management', 'unemployed', 'self-employed', 'unknown',
       'entrepreneur', 'student'], dtype=object)

In [ ]:
data.job.value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [ ]:
# E -> number of technicials
E = data[data.job == 'technician'].shape[0]
S = data.shape[0]
print("Probability that a customer is technician:", round(E/S, 3))

Probability that a customer is technician: 0.164

### Joint Probability


#### Q1. Find the probability for a male customer who has already taken term deposit.

In [ ]:
S = data.shape[0]
print('Total number of customers: ', S)

Total number of customers:  41188

In [ ]:
pd.crosstab(data.gender, data.term_deposit, margins=True)

term_deposit     no   yes    All
gender
female        18442  2356  20798
male          18106  2284  20390
All           36548  4640  41188

In [ ]:
E = 2284
p = round(E/S, 3)
print('Total no. of male customers who have taken term_deposit:', E)
print('Probability a customer is male and has taken a term_deposit:', p)

Total no. of male customers who have taken term_deposit: 2284
Probability a customer is male and has taken a term_deposit: 0.055

#### Q2. Probability that a customer is married and has housing as well

In [ ]:
data.head()

,gender,age,job,marital,education,default,housing,loan,contact,term_deposit
0,female,56,housemaid,married,basic.4y,no,no,no,telephone,no
1,male,57,services,married,high.school,yes,no,no,telephone,no
2,female,37,services,married,high.school,no,yes,no,telephone,no
3,female,40,admin.,married,basic.6y,no,no,no,telephone,no
4,female,56,services,married,high.school,no,no,yes,telephone,no

In [ ]:
S = data.shape[0]
print('Total number of customers: ', S)

Total number of customers:  41188

In [ ]:
data.columns

Index(['gender', 'age', 'job', 'marital', 'education', 'default', 'housing',
       'loan', 'contact', 'term_deposit'],
      dtype='object')

In [ ]:
pd.crosstab(data.marital, data.housing, margins=True)

housing      no    yes    All
marital
divorced   2092   2520   4612
married   11389  13539  24928
single     5097   6471  11568
unknown      44     36     80
All       18622  22566  41188

In [ ]:
E = 13539
p = round(E/S, 2)
print('Probability that a customer is married and has taken a housing :',p)

Probability that a customer is married and has taken a housing : 0.33

#### Q3. Probability that a customer has university degree and no loan

## Part 2

### Conditional Probability


#### Q1. Given that  customer has taken term deposit, find the probability that she is a female.

In [ ]:
S = data.shape[0]
print('Total number of customers: ', S)

In [ ]:
pd.crosstab(data.gender, data.term_deposit, margins=True)

In [ ]:
# P(customer is a female | customer has taken a term deposit)
A = 20798
B = 4640
AnB = 2356
print('Number of female customers: P(A)', A)
print('Number of customer who have taken term deposit P(B):', B)
print('Customer is female and has taken term deposit: P(A&B)', AnB)

In [ ]:
pAnB = round(AnB/S,3)
pB = round(B/S, 3)
print('Joint probability that a customer is female has has taken term deposit:', pAnB )
print('Marginal probability that a customer has taken term deposit:', pB)

In [ ]:
# P(A | B) = P(A and B) / P(B)
pAgivenB = round(pAnB/pB, 3)
print('Conditional probability the customer is a female GIVEN customer has taken term deposit:',pAgivenB)

In [ ]:
2356/4640

#### Q2. Given that selected customer has defaulted in past, find the probability that he/she has a blue collar job.

In [ ]:
pd.crosstab(data.job, data.default, margins=True)

In [ ]:
3166/8600

In [ ]:
# P(customer has blue collar job | customer has defaulted in the past)
A = 9254
B = 8600
AnB = 3166
print('Number of cusotmer with blue collar job:', A)
print('Number of customers defaulted in the past:', B)
print('Number of customers with blue collar job AND customers defaulted in past:', AnB)

In [ ]:
pAnB = round(AnB/S,3)
pB = round(B/S, 3)
print('Joint probability that a customer has blue collar job AND customers defaulted in past:', pAnB )
print('Marginal probability that a customer has defaulted in the past:', pB)

In [ ]:
# P(A | B) = P(A and B) / P(B)
pAgivenB = round(pAnB/pB, 3)
print('Conditional probability that the customer has blue collar job GIVEN customer has defaulted:',pAgivenB)